#menuwrapper{
    background:  white;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 100%;
    height: fit-content;
    position: relative;
    border-bottom: 1px solid #d6dee5;
    padding: 8px 0;
    display: block;
    text-decoration: none;
    color: #258fb8;
}

#menuwrapper a{
    color: #258fb8;
    text-decoration: none;
}

#menuwrap{
    width: 80%;
    margin: 0 auto; 
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    -webkit-box-pack: justify;
    flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    font:bold 14px Arial;
}

.top_menu1{
    display: flex;
}

.top_menu_logo{
    display: block;
    -webkit-box-flex: 0;
    flex: none;
    margin: 4px 60px 0 0;
    /* background-image: url(../img/70042969_p0.png); */
    background-repeat: no-repeat;
    background-position-x: -1px;
    background-size: contain;
}

.top_menu_logo h1:hover{
    text-decoration: none;
}

.top_menu_right1{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    margin-left: auto;
}

.list_menu_right1{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-flow: row-reverse;
    margin: 7px -6px 0;
    padding: 0;
    line-height: 1;
    font-size: 12px;
}

.list_menu_right1 ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list_menu_right1>li{
    -webkit-box-flex: 0;
    flex: none;
    list-style: none;
    margin: 0 6px;
    display: list-item;
    text-align: justify;
}

.list_menu_right1 li:hover{
    text-decoration: underline;
}

.boxsearch1{
    display: flex;
    margin: 14px 0 2px auto;
    text-align: left;
    color: #555;
}

.boxsearcher1{
    background-color: #fff;
}

.boxsearcher1{
    -webkit-box-flex: 0;
    flex: none;
    padding: 3px 5px;
    width: 200px;
    height: 28px;
    border: 1px solid #becad7;
    font-size: 14px;
    line-height: 1;
    color: #555;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

.button_search{
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 50px;
    height: 28px;
    background-color: #becad7;
    background-image: url(../img/search.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: none;
    cursor: pointer;
}

.button_search:hover {
    background-color: rgba(0,0,0,0.2);
}

.top_menu2, .top_menu2_left, .top_menu2_right{
    display: flex;
}

.top_menu2{
    flex-flow: row wrap;
}

.list_menu1{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 -8px;
    padding: 0;
    font-size: 14px;
    display: flex;
    font-weight: normal;
}

.list_menu1 ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list_menu1>li{
    -webkit-box-flex: 0;
    flex: none;
    list-style: none;
    margin: 0 8px;
    display: list-item;
}

.list_menu1 li:hover{
    text-decoration: underline;
}

.list_menu1>li a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: 0;
}

.list_menu1>li a>img{
    width: 24px;
    height: 24px;
    margin-right: 3%;
}

.top_menu_right2{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-flow: row-reverse;
}

.top_menu_right2, .list_menu2{
    flex: none;
    margin: 0 -4px 0 auto;
    font-weight: normal;
}

.list_menu2{
    flex-flow: row-reverse;
    border-radius: 4px;
    background: #f2f4f6;
    padding: 0 5%;
    margin: 0 4px;
    height: 30px;
    font-size: 12px;
}

.list_menu2 li:hover{
    text-decoration: underline;
}

.list_menu2 ul{
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.list_menu2>li{
    -webkit-box-flex: 0;
    flex: none;
    list-style: none;
    margin: 0 10px;
    line-height: 30px;
    display: list-item;
}

.list_menu2>li a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 30px;
    background-repeat: no-repeat;
    background-position: 0;
}

.list_menu2>li a>img{
    width: 24px;
    height: 24px;
    margin-right: 5%;
}